[Desktop Entry]
Version=0.1.0
Name=tengo
GenericName=tengo
Comment=A new Flutter project.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=tengo
