[Desktop Entry]
Version=0.1.0
Name=tengo viewer
GenericName=tengo viewer
Comment=A new Flutter project.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=tengo_editor
